aside {
    text-align: center; padding-top: 0px; 
    width: 300px; float: left;
}
main {
    padding-top: 0px;
 
}
.backgr {
    z-index: 10;
    width: 100%;
    background-image: url(../media/bgr.jpg);
    backdrop-filter: blur(5px);
}
.dv {
    z-index: 20px;
    background-color: rgba(255, 255, 255, 0.418);
}
footer{
    height: 100px; text-align: center; 
    padding-top: 5px; margin: 10px auto;
    font-size: 10px;
}
#name {
    font-size: 25px;
    margin-left: 10cm;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.phpos {
    z-index: 20;
}

#date {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
#line {
    border-bottom: 5px solid black; 
    width: auto;
    margin-top: 3cm;
}
.img {
    width: 20px;
    margin-top: 0px;
}
.gml:hover {
    background-color: violet;
    color: black;
}
.blur {
    padding-top: 5px;
    filter: blur(5px);
}

/* ALLERTS */ 

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
}