aside {
    text-align: center; padding-top: 0px; 
    width: 300px; float: left;
}
main {
    padding-top: 0px;
}
footer{
    height: 100px; text-align: center; 
    padding-top: 5px; margin: 10px auto;
    font-size: 10px;
}
