th {
	background-color: #94cce8;
	color: white;
	height: 40px;
	width: 100px;
}

.company-name {
	background-color: #94cce8;
	color: white;
	height: 40px;
	width: 150px;
	text-align: left;
	padding-left: 20px;
}

td {
	background-color: #cde6f4;
	text-align: center;
}
